<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Josh Wareing!</h1>
		<p>Welcome To My Blog built on Rails 4!</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/Josh_Wareing16">@Josh_Wareing16</a> or on the web at <a href="https://www.joshuawareing.com">joshuawareing.com</a>.</p>
	</div>
</div>